#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
  background-color: rgb(128, 185, 185);
  border-radius: 20px;
}

.read-the-docs {
  color: #888;
}
